#page_container {
  background: linear-gradient(to right , rgb(2, 89, 249),rgb(87, 152, 249));
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  height: 100%;
  width: 100%;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius:10px;
  font-size: 18px;
}
#icon{
  font-size: 18px;
  margin: 10px;
  animation: spin infinite 2s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

