#page_container {
  background-color: rgba(248, 248, 248, 0.682);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  height: 100%;
  width: 100%;
}
#container {
  display: flex;
  align-items: center;
  flex-direction:  column;
  justify-content: space-between;
  width: 320px;
  height: 100px;
  border-radius:10px;
  font-size: 18px;
}

@media screen and (max-width:768px) {
  #container{
    width: 80%;
    height: 12%;
  }
}

