#page_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 600px;
}
.item_active {
  font-size: 18px;

  margin: 5px;
  transition: 500ms;
  text-decoration: underline;
  color: rgb(5, 93, 255);
}
.item_inactive {
  transition: 500ms;
  margin: 5px;
}
#extended_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width:768px) {
  #page_container{
    flex-direction: column;
    width: 200px;
  }
  #extended_container{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }
}