#container {
  display: flex;
  width: 250px;
  background-color: white;
}
#error_container{
  display: flex;
  width: 250px;
  border-bottom: 1.5px solid rgb(250, 32, 32);
  border-radius: 5px;
  background-color: white;
}
#select_container {
  background-color: white;
  width: 85px;
  height: 25px;
  font-size: 16px;
  outline: none;
  border: none;
  text-align: center;
}

