#container {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  background-color: white;
}
#select_container {
  background-color: white;
  width: 85px;
  height: 25px;
  font-size: 16px;
  outline: none;
  border: none;
  text-align: center;
}

