#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 600px;
    border-bottom: 1px solid black;
}
.radio_button{
    width: 100px;
}
.radio{
    margin: 5px;
}