.radio_button_inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 35px;
  border-radius: 15px;
  margin: 5px;
}

.radio_button_active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 35px;
  margin: 5px;
  border-radius: 15px;
  color: white;
  background: linear-gradient(to bottom, rgb(13, 156, 252), rgb(120, 198, 254));
  transition: 500ms;
}
