.radio_button_inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(148, 148, 148);
  text-decoration: none;
  width: 85px;
  height: 35px;
  border-radius: 15px;
  margin: 5px;
}

.radio_button_active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 35px;
  margin: 5px;
  text-decoration: underline;
  color: rgb(5, 93, 255);

  transition: 500ms;
}

