#page_container_active {
  background-color: rgb(255, 255, 255);
  transition: 900ms;
  position: fixed;
  top: 35px;
  height: 100%;
  width: 100%;
}
#page_container_inactive {
  background-color: rgb(255, 255, 255);
  opacity: 0.3;
  position: fixed;
  transition: 900ms;
  width: 0%;
  height: 0%;
}
#link_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 200px;
}
.link {
  text-decoration: none;
  color: rgb(0, 76, 255);
  font-size: 20px;
}

@media screen and (max-width: 768px) {
 
}
