#container {
  transition: 500ms;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 170px;
  text-decoration: none;
  background: linear-gradient(45deg,rgb(0, 8, 255) , rgb(17, 92, 254));
  border-radius: 15px;
  margin: 5px;
  color: white;
  text-align: center;
  box-shadow:rgba(0, 38, 255, 0.706) 1px 3px 5px 1px
}

.text{
  text-align: center;
}
#container:hover {
  transition: 500ms;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75px;
  }
#container{
  height: 160px;
}
  .info_text {
    text-align: center;
    margin: 0px;
  }

}
