#container {
  border-bottom: 1px solid rgb(41, 137, 255);
  transition: 500ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(0, 115, 255);
}
.text {
  margin: 0px;
}

#container:hover {
  transition: 500ms;
  border-radius: 10px;
  background-color:rgb(41, 137, 255);
  color: white;
  border: 1px solid white;
  font-size: larger;
}

@media screen and (max-width:768px) {
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 90px;
    width: 20%;
  }
  .info_text{
    text-align: center;
    margin: 0px;
  }
  .text{
    text-align: center;
  }
}